In [2]:
# Print "Hello data Engineering world!"
print("Hello Data Engineering World!")

Hello Data Engineering World!

# Python Basics
    String
    Numbers
    Data Types & Data structures

## Creating a string
##### To create a string in python you need to use single quotes or double qoutes

In [3]:
# Single world
print("Hello")
print('Hello')

Hello
Hello

### String Indexing
##### In python we use brackets [ ] after an object to call its index. we should know that indexing starts at 0 for python.

In [4]:
# Create variable called s as a string
s = "Hello world"

In [6]:
# print variable s and use index to print letter "e" and "r"
print(s)
print(s[1])
print(s[8])

Hello world
e
r

## String Concatenation and Repetition
### Concatenation
##### Combine two strings

### Repetition
##### Repeating string multiple times

In [7]:
# Concatenation (addition)
s1 = "Hello"
s2 = "world"
print(s1 + " " + s2)

Hello world

In [9]:
# Repetition (multiplication)
print("Hello" * 5)
print(("Hello" + " ") * 5)

HelloHelloHelloHelloHello
Hello Hello Hello Hello Hello

## String Slicing and Indexing
### Indexing
##### Select the letter at a particular index \ position
### Slicing
##### Select a subset of an entir string

In [14]:
s = "Hello world"
print(s[0])  # indexing
print(s[0:5]) # Slicing
print(s[-5:])

H
Hello
world

In [15]:
# Test substring membership
print("wor" in s)  # "in" to check if inside

True

## Basic Built-in string methods

In [16]:
s = "Hello World"

# Convert all the element to Upper case
print(s.upper())

HELLO WORLD

In [17]:
# Convert all the element to Lower case
print(s.lower())

hello world

In [19]:
print((s[0].upper()) + s[1:5].lower())

Hello

In [22]:
print(type(s))

<class 'str'>

## Formatting

In [23]:
name = "Mohamed"
age = 36
Status = "married"
print(f"My name is {name}. I have {age} years old and I am {Status}")

My name is Mohamed. I have 36 years old and I am married

In [24]:
print("My name is {}. I have {} years old and I am {}".format(name, age, Status))

My name is Mohamed. I have 36 years old and I am married

In [26]:
print("My name is %s. I have %s years old and I am %s." % (name, age, Status))

My name is Mohamed. I have 36 years old and I am married.

## Numbers
#### Types of Numbers
#### Variable Assignments

## Types of Numbers

#### Integers
    
    whole numbers. Positive or Negative
#### Floating
    Decimal point

#### Types>>>>>>>>>>>>Examples
##### Integare>>>>>>>>>>>>1, 2, 5
##### Floating>>>>>>>>>>>>1.2, 4e5, 4E5

### Basic Arithmetic

In [4]:
# Addition
print(1+2)

# Subtraction
print(2-1)

# Multiplication
print(2*2)

# Division
print(3/2)

3
1
4
1.5

In [8]:
# Powers
2**3 ## 2^3

8

In [9]:
2 + 10 * 10 + 3

105

In [10]:
(2+10) * (10+3)

156

## Variable Assignments
#### Assign names and create variables. Use single equale sign to assign labels to variables.

In [11]:
# Create variable called "a" and assign it to 5
a = 5

In [17]:
# Check "a"
a

10

In [18]:
# Add 2 variables
a + a

20

In [19]:
# Change the value of "a"
a = 10

In [15]:
# Check "a"
a

10

In [20]:
# # Add 2 variables
a + a

20

## Attention
### When create a variable
#### 1- Name can not start with a number
#### 2- No space in the name, use "_"
#### 3- Do not use any of these symbole ; % & < > , /

## Data Types & Data structures
#### Most common and important types
     1- Single Value
         * None
         * int : Integers
         * Float : Floating point numbers
         * bool : boolean values (True, False)
         * str : String
     2- Multiple Values >>>> list, tuple, set, dict

In [25]:
# Identifying data types
a = 42
b = 32.5
c = "Hello"
e = True

print(type(a))
print(type(b))
print(type(c))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## List
    List constructed with brackets [ ]
    Unlike string
    Mutable : elements inside a list can be change
    List can hold different object types
    len() function can tell you how many items are in the list
    append() function adding new elements to a list
    extend() function adding new list to a list

In [27]:
# assign a list to a variable
my_list = [1, 2.5, "Hello", True]

In [28]:
my_list

[1, 2.5, 'Hello', True]

In [29]:
len(my_list)

4

In [30]:
type(my_list)

list

In [31]:
my_list.append("mohamed")

In [32]:
my_list

[1, 2.5, 'Hello', True, 'mohamed']

In [33]:
new_list = [False, "essam", 777]

In [34]:
my_list.extend(new_list)

In [35]:
my_list

[1, 2.5, 'Hello', True, 'mohamed', False, 'essam', 777]

## Slicing
#### syntax for slicing
    list_name[start:end:difference between of elements]
    list_name[start:end]

In [47]:
list_1 = list(range(10))

In [48]:
print(list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
list_1[0:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
list_1[0:10:3]

[0, 3, 6, 9]

In [53]:
# elements from index 4 to 6
list_1[4:6]

[4, 5]